<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to The Tap Room
  </h1>

</div>

<h2>Taps Available Now: </h2>

<div *ngFor="let keg of kegs">
  <h3>{{keg.name}}</h3>
  <ul>
    <li>Brewery: {{keg.brewery}}</li>
    <li>Price: {{keg.price}}</li>
    <li>ABV: {{keg.ABV}}</li>
    <li>IBU: {{keg.IBU}}</li>
    <li>Pints Remaining: {{keg.pintsLeft}}</li>
    <button (click)="editKeg(keg)">Edit this keg</button>
  </ul>
</div>

<div *ngIf="selectedKeg">
  <div class="form-group">
    <label>Enter name:</label>
    <input [(ngModel)]="selectedKeg.name">
  </div>
  <div class="form-group">
    <label>Price:</label>
    <input [(ngModel)]="selectedKeg.price" >
  </div>
  <div class="form-group">
    <label>Brewery:</label>
    <input [(ngModel)]="selectedKeg.brand">
  </div>
  <div class="form-group">
    <label>ABV:</label>
    <input [(ngModel)]="selectedKeg.ABV">
  </div>
  <div class="form-group">
    <label>IBU:</label>
    <input [(ngModel)]="selectedKeg.IBU">
  </div>
  <div class="form-group">
    <label>Pints Remaining:</label>
    <input [(ngModel)]="selectedKeg.pintsLeft">
  </div>
  
</div>

<button (click)="addKeg()">Add New Keg</button>
