<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to The Tap Room
  </h1>

</div>

<h2>Taps Available Now: </h2>

<div *ngFor="let currentKeg of kegs">
  <h3>{{currentKeg.name}}</h3>
  <ul>
    <li>Brewery: {{currentKeg.brewery}}</li>
    <li>Price: {{currentKeg.price}}</li>
    <li>ABV: {{currentKeg.ABV}}</li>
    <li>IBU: {{currentKeg.IBU}}</li>
  </ul>
</div>
<button (click)="testKeg(currentKeg)">Add Sailor's Beer</button>
<form>
  <input [value]="name" (input)="name = $event.target.value" type="text">
  <input [value]="brewery" (input)="brewery = $event.target.value" type="text">
  <input [value]="price" (input)="price = $event.target.value" type="text">
  <input [value]="ABV" (input)="ABV = $event.target.value" type="text">
  <input [value]="IBU" (input)="IBU = $event.target.value" type="text">
  <button (submit)="addKeg(name, brewery, price, ABV, IBU)"></button>
</form>
<ul>
  <li>{{currentKeg.name}}</li>
</ul>
<!-- <form id="add-keg" (ngSubmit)="onSubmit(add-keg)" novalidate> -->
<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate> -->
<!-- <form>
  <input name="name" ngModel required #name="ngModel" placeholder="Name">
  <input name="B" placeholder="Brewery">
  <input name="P" placeholder="Price">
  <input name="A" placeholder="ABV">
  <input name="I" placeholder="IBU">
  <button type="button" name="button">Add Keg</button>
</form> -->
